@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: vars.$main-100;
  @include mix.body-medium;
}

.container {
  width: 100%;
  max-width: calc(vars.$container + (vars.$padding * 2));
  margin: 0 auto;
  padding-right: vars.$padding;
  padding-left: vars.$padding;
}
