@font-face {
  font-weight: 300;
  font-family: 'Nunito Sans';
  font-style: normal;
  src: url('@/assets/fonts/Nunito-Sans-300.woff2') format('woff2'),
    url('@/assets/fonts/Nunito-Sans-300.woff') format('woff');
}

@font-face {
  font-weight: 400;
  font-family: 'Nunito Sans';
  font-style: normal;
  src: url('@/assets/fonts/Nunito-Sans-400.woff2') format('woff2'),
    url('@/assets/fonts/Nunito-Sans-400.woff') format('woff');
}
@font-face {
  font-weight: 600;
  font-family: 'Nunito Sans';
  font-style: normal;
  src: url('@/assets/fonts/Nunito-Sans-600.woff2') format('woff2'),
    url('@/assets/fonts/Nunito-Sans-600.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-family: 'Nunito Sans';
  font-style: normal;
  src: url('@/assets/fonts/Nunito-Sans-700.woff2') format('woff2'),
    url('@/assets/fonts/Nunito-Sans-700.woff') format('woff');
}

@font-face {
  font-weight: 800;
  font-family: 'Nunito Sans';
  font-style: normal;
  src: url('@/assets/fonts/Nunito-Sans-800.woff2') format('woff2'),
    url('@/assets/fonts/Nunito-Sans-800.woff') format('woff');
}

